<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
	    <staticContent>
	      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
          <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
	    </staticContent>
        <modules runAllManagedModulesForAllRequests="false" />
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" responseMode="File" path="404.html" />
        </httpErrors>        
    </system.webServer>
</configuration>