<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="upgrade-insecure-requests;"/>
        <add 
          name="Content-Security-Policy-Report-Only" 
          value="default-src 'self';
           connect-src 'self' links.services.disqus.com;
           font-src 'self'; 
           frame-src disqus.com c.disquscdn.com www.google.com www.youtube.com twitter.com platform.twitter.com syndication.twitter.com staticxx.facebook.com www.facebook.com;
           img-src c.disquscdn.com cdn.viglink.com links.services.disqus.com referrer.disqus.com 'self' sync.crwdcntrl.net www.google-analytics.com
            www.google.com/images/icons/ui/gprofile_button-32.png; 
           script-src c.disquscdn.com connect.facebook.net disqus.com inline: platform.twitter.com rahulpnath.disqus.com 'self' www.google-analytics.com cdnjs.cloudflare.com 
            'nonce-anF1ZXJ5ZmFsbGJhY2s=' 'nonce-ZGlzcXVzc2NyaXB0' 'nonce-ZmFjZWJvb2tsaWtl' 'nonce-dHdlZXRidXR0b24='; 
           style-src c.disquscdn.com cdnjs.cloudflare.com inline: 'self' 'unsafe-inline';report-uri https://rahulpnath.report-uri.com/r/d/csp/wizard" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <add name="X-Frame-Options" value="Deny" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="false" />
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" responseMode="File" path="404.html" />
        </httpErrors>  
  </system.webServer>
</configuration>