<!-- Social media content metadata -->
{% if site.facebook_app_id %}

<meta property="fb:admins" content="{{ site.facebook_app_id }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}/" />
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
<meta property="og:author" content="{{ site.facebook_page }}" />
{% if page.primaryImage %}<meta property="og:image" content="{{ site.images_host}}{{ site.images_root}}/{{ page.primaryImage }}" />{% endif %}
{% endif %}
{% if site.twitter_user %}
<meta property="twitter:card" content="{% if page.twitter_card.type %}{{ page.twitter_card.type}}{% else %}summary{% endif %}" />
<meta property="twitter:site" content="{{ site.twitter_user }}" />
<meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}" />
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />
<meta property="twitter:creator" content="{% if page.twitter_card.creator %}{{ page.twitter_card.creator }}{% else %}{{ site.twitter_user }}{% endif %}" />
{% if page.primaryImage %}<meta property="twitter:image:src" content="{{ site.images_host}}{{ site.images_root}}/{{ page.primaryImage }}" />{% endif %}
{% endif %}
<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>

<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
