{% capture category %}{{ post.categories | size }}{% endcapture %}
{% capture tag %}{{ post.tags | size }}{% endcapture %}
<h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
<time class="hide" datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' or tag != '0' %}
<p class="meta text-muted text-capitalize">
<span class="glyphicon glyphicon-calendar"></span>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}">{{ post.date_formatted }}</time>
{% if category != '0' %}
  <span class="glyphicon glyphicon-tags"></span><span class="categories">&nbsp; Posted in&nbsp;{{ post.categories | category_links }}</span>
{% endif %}
{% if tag != '0' %}
  <span class="hide tags">tagged with {{ post.tags | tag_links }}</span>
{% endif %}
</p>
{% endif %}
